[submodule "evil"]
	path = evil
	url = https://github.com/emacsmirror/evil.git
[submodule "evil-surround"]
	path = evil-surround
	url = https://github.com/timcharper/evil-surround.git
[submodule "haskell-mode"]
	path = haskell-mode
	url = https://github.com/emacsmirror/haskell-mode.git
[submodule "sr-speedbar"]
	path = sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar.git
[submodule "sml-modeline"]
	path = sml-modeline
	url = https://github.com/emacsmirror/sml-modeline.git
[submodule "zenburn-emacs"]
	path = zenburn-emacs
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "emacs-eclim"]
	path = emacs-eclim
	url = https://github.com/senny/emacs-eclim.git
[submodule "company"]
	path = company
	url = https://github.com/jwiegley/company.git
[submodule "magit"]
	path = magit
	url = https://github.com/magit/magit.git
[submodule "android-mode"]
	path = android-mode
	url = https://github.com/remvee/android-mode.git
