[submodule "thirdparty/evil"]
	path = thirdparty/evil
	url = https://github.com/emacsmirror/evil.git
[submodule "thirdparty/evil-surround"]
	path = thirdparty/evil-surround
	url = https://github.com/timcharper/evil-surround.git
[submodule "thirdparty/haskell-mode"]
	path = thirdparty/haskell-mode
	url = https://github.com/emacsmirror/haskell-mode.git
[submodule "thirdparty/sr-speedbar"]
	path = thirdparty/sr-speedbar
	url = https://github.com/emacsmirror/sr-speedbar.git
[submodule "thirdparty/zenburn-emacs"]
	path = thirdparty/zenburn-emacs
	url = git://github.com/bbatsov/zenburn-emacs.git
[submodule "thirdparty/ace-jump-mode"]
	path = thirdparty/ace-jump-mode
	url = https://github.com/winterTTr/ace-jump-mode.git
[submodule "thirdparty/emacs-eclim"]
	path = thirdparty/emacs-eclim
	url = https://github.com/senny/emacs-eclim.git
[submodule "thirdparty/magit"]
	path = thirdparty/magit
	url = https://github.com/magit/magit.git
[submodule "thirdparty/android-mode"]
	path = thirdparty/android-mode
	url = https://github.com/remvee/android-mode.git
[submodule "thirdparty/lua-mode"]
	path = thirdparty/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "thirdparty/yasnippet"]
	path = thirdparty/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "thirdparty/smex"]
	path = thirdparty/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "thirdparty/auto-complete"]
	path = thirdparty/auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "thirdparty/popup-el"]
	path = thirdparty/popup-el
	url = https://github.com/m2ym/popup-el.git
[submodule "thirdparty/emacs-powerline"]
	path = thirdparty/emacs-powerline
	url = git://github.com/jonathanchu/emacs-powerline.git
[submodule "thirdparty/fuzzy-el"]
	path = thirdparty/fuzzy-el
	url = https://github.com/m2ym/fuzzy-el.git
[submodule "thirdparty/yascroll-el"]
	path = thirdparty/yascroll-el
	url = https://github.com/m2ym/yascroll-el.git
